/.gradle/7.4/fileHashes/resourceHashesCache.bin
/build/classes/java/main/n_queens_52/Solution$Queen.class
/build/classes/java/main/n_queens_52/Solution.class
/build/classes/java/main/two_add_2/Solution$ListNode.class
/build/classes/java/main/two_add_2/Solution.class
/build/classes/java/main/two_sums_1/Solution.class
/build/classes/java/main/Solution.class
/build/classes/java/test/SolutionTest.class
/build/reports/tests/test/classes/SolutionTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/default-package.html
/build/reports/tests/test/index.html
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-SolutionTest.xml
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
